{% extends 'auth/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Авторизация
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'auth/css/styles.css' %}">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Авторизация</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="" id="singup">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email" name="email" required>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Пароль" name="password" required>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Запомнить меня
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Вход" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        У Вас нет аккаунта?<a href="/sing-in">Зарегистрироваться</a>
                    </div>
                    {% comment %}<div class="d-flex justify-content-center">
                        <a href="">Вспомнить пароль</a>
                    </div>{% endcomment %}
                </div>
            </div>
        </div>
    </div>

    {% comment %}<script src="{% static 'auth/js/singup.js' %}"></script>{% endcomment %}
    <script>
    $(document).ready(function () {
    $('#singup').submit(function (e) {
        e.preventDefault();
        let data = {
            'email': $(this).find('input[name="email"]').val(),
            'password': $(this).find('input[name="password"]').val(),
        }

        console.log(data);

        $.ajax({
            headers: {"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').val()},
            type: $(this).attr('method'),
            url: $(this).attr('url'),
            data: data,
            success: function (response) {
                if(response == 'True') {
                    window.location.href = '/dashboard';
                } else {
                    alert(response);
                    return false;
                }
            }
        });
    });
});
    </script>

{% endblock %}